* {
    padding: 0;
    margin: 0;

}

body {
    background-image: url('../images/question.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgba(123, 209, 248);
}

#logo {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#quiz-area {
    background-color: rgba(123, 209, 248, 0.6);
    width: 500px;
    padding: 20px;
    margin: 40px auto 0;
    border-radius: 15px;
}

#question-area {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-bottom: 10px;
    background-color: #f2e35f;
    border-radius: 15px;
    text-align: center;
}

#answer-area {
    display: flex;
    justify-content: center;
}

#answer-pos {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.answers {
    width: 300px;
    height: 40px;
    background-color: white;
    border-radius: 15px;
}

button:disabled {
    color: initial;
}

#next-question {
    width: 300px;
    height: 40px;
    background-color: #f2e35f;
    border-radius: 15px;
    margin: 20px 0 0 100px;
}

.correct {
    background-color: green;
    font-weight: bold;
}

.incorrect {
    background-color: red;
    font-weight: bold;
}

.hidden {
    display: none;
}

/* Timer */

#count {
    border-radius: 50%;
    width: 50px;
    height: 45px;
    border: solid black 5px;
    text-align: center;
    margin: 0 0 20px 210px;
    font-size: 200%;
}

/* Score  */

#scores {
    display: flex;
    justify-content: flex-end;
    font-size: 150%;
}

/* Rules */

#rules-area {
    background-color: rgba(123, 209, 248);
    width: 500px;
    padding: 20px;
    margin: 40px auto 0;
    border-radius: 15px;
    text-align: center;
    font-size: 125%;
}

#rules-list {
    list-style: none;
}

#rules-list li {
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 15px;
}

#welcome-paragraph {
    margin-bottom: 15px;
}

/* Start quiz button */

#start-quiz {
    width: 300px;
    height: 40px;
    background-color: #f2e35f;
    border-radius: 15px;
    text-align: center;
    margin: 20px 0 0 30px;
}