/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* Background image */

body {
    background-image: url('../images/question.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Header */

header {
    background-image: linear-gradient(to left, #496DDB, #717EC3);
}

header>a {
    text-decoration: none;
}

/* Logo */

#logo {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: black;
    font-family: 'Lora', serif;
}

/* Quiz area */

#quiz-area {
    background-color: rgba(174, 135, 153, 0.6);
    width: 500px;
    padding: 20px;
    margin: 20px auto 0;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
}

/* Question area */

#question-area {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-bottom: 10px;
    background-color: #C95D63;
    border-radius: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Answer area */

#answer-area {
    display: flex;
    justify-content: center;
}

#answer-pos {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.answers {
    width: 300px;
    height: 40px;
    background-color: white;
    border-radius: 15px;
}

/* Changes the default style of disabled buttons */

button:disabled {
    color: initial;
}

/* Next question button */

#next-question-pos {
    display: flex;
    justify-content: center;
}

#next-question {
    width: 300px;
    height: 40px;
    background-color: #EE8434;
    border-radius: 15px;
    margin: 20px 0 0 0;
}

/* classes to display correct and incorrect answers as well as hiding and displaying content */

.correct {
    background-color: green;
    font-weight: bold;
}

.incorrect {
    background-color: red;
    font-weight: bold;
}

.hidden {
    display: none;
}

/* Hover effect on all buttons */

.hover:hover {
    box-shadow: 0 14px 18px 0 #000000, 0 17px 50px 0 #000000;
}

/* Timer */

#timer-pos {
    display: flex;
    justify-content: center;
}

#count {
    border-radius: 50%;
    width: 50px;
    height: 45px;
    border: solid black 5px;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 200%;
}

/* Category section */

#category-pos {
    display: flex;
    justify-content: center;
}

#category {
    width: 300px;
    font-size: 125%;
    background-color: #EE8434;
    margin-bottom: 5px;
    border-radius: 15px;
    text-align: center;
}

/* Score and question counter  */

#score-questions {
    display: flex;
    justify-content: space-between;
    font-size: 125%;
    margin-top: 10px;
}

/* Rules area */

#rules-area {
    background-color: #AE8799;
    width: 500px;
    padding: 20px;
    margin: 40px auto 0;
    border-radius: 15px;
    text-align: center;
    font-size: 125%;
    font-family: 'Roboto', sans-serif;
}

#rules-list {
    list-style: none;
}

#rules-list li {
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 15px;
}

#welcome-paragraph {
    margin-bottom: 15px;
}

/* Start and restart quiz button */

#start-quiz-pos,
#restart-quiz-pos {
    display: flex;
    justify-content: center;
}

#start-quiz,
#restart-quiz {
    width: 300px;
    height: 40px;
    background-color: #EE8434;
    border-radius: 15px;
    text-align: center;
    margin: 20px 0 0 0;
}

/* Result area  */

#result-area {
    background-color: #AE8799;
    width: 500px;
    padding: 20px;
    margin: 40px auto 0;
    border-radius: 15px;
    text-align: center;
    font-size: 125%;
    font-family: 'Roboto', sans-serif;
}

/* Footer */

footer {
    background-image: linear-gradient(to left, #496DDB, #717EC3);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    text-align: center;
}

footer>p {
    margin-top: 30px;
    font-size: 110%;
    font-family: 'Lora', serif;
}

/* Media queries  */

/* For screen size 595px and down */

@media screen and (max-width: 595px) {

    #quiz-area {
        width: 350px;
        font-size: 80%;
    }

    #count {
        font-size: 200%;
    }

    #rules-area {
        width: 350px;
        font-size: 100%;
    }

    #result-area {
        width: 300px;
        font-size: 100%;
    }

    #logo {
        font-size: 150%;
    }
}

/* For screen size 449px and down */

@media screen and (max-width: 449px) {

    #rules-area {
        width: 250px;
        font-size: 80%;
    }

    #start-quiz {
        width: 200px;
    }
}

/* For screen size 415px and down */

@media screen and (max-width: 415px) {
    #quiz-area {
        width: 250px;
        font-size: 80%;
    }

    #count {
        font-size: 200%;
    }

    .answers {
        width: 225px;
    }

    #next-question {
        width: 225px;
    }

    #result-area {
        width: 250px;
        font-size: 80%;
    }

    #restart-quiz {
        width: 225px;
    }

    #logo {
        font-size: 100%;
    }
}

/* For screen height 730px and down */

@media screen and (max-height: 730px) {

    .answers {
        height: 30px;
    }

    #answer-pos {
        gap: 1em;
    }

    #next-question {
        height: 30px;
        margin: 10px 0 0 0;
    }
}

/* For screen height 686px and down */

@media screen and (max-height: 686px) {
    #rules-area {
        font-size: 70%;
    }

    #quiz-area {
        font-size: 80%;
    }

    #count {
        font-size: 200%;
    }

    .answers {
        height: 20px;
    }

    #answer-pos {
        gap: 0.5em;
    }

    #next-question {
        height: 20px;
        margin: 5px 0 0 0;
    }
}